*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 1300px;
    margin: 0 auto;
}
.block{
background-color: rgb(194, 255, 153);
border-radius: 48px;
padding: 128px 64px;
}
.block-text h3 {
    width: 670px;
    font-size: 40px;
    font-weight: 400px;
    text-align: center;
    color: #162e3c;
    margin-left: 200px;
}
.block-text p{font-size: 18px;

width: 670px;
font-weight: 400;
text-align: center;
color: #162e3c;
margin-left: 200px;
margin-top: 27px;
}
.card{
    background-color: #162e3c;
    width: 363px;
    height: 304px;
    border-radius: 24px  ;
    text-align: center;
    color: white;
    padding: 33px 53px ;
}
.card h5 {
    margin: 24px 0px 17px ;
}
.block-cards{
    margin-top: 64px;
    display: flex;
    justify-content:space-evenly;
    
}